<!DOCTYPE html>
<html lang="en">
<div th:replace="head(titulo='creacion')"></div>
<body>
    <div th:insert="~{navegacion(url1='/memes',url2='/memes/addForm')}"></div>

    <h1>Creación de un nuevo meme</h1>
    <form class="form" action="/memes" method="post">
        <label for="description">description</label>
        <input id="description"  name="description">
        <label for="url">url</label>
        <input id="url"  name="url">
        <label for="category">category</label>
        <select id="category"  name="category">
            <option value="informatica">INFORMATICA</option>
            <option value="humorNegro">HUMOR NEGRO</option>
            <option value="virales">VIRALES</option>
            <option value="otros">OTROS</option>
        </select >
        <label for="author">autor</label>
        <input id="author"  name="author">

        <button>CREAR</button>
    </form>
</body>
</html>