<!DOCTYPE html>
<html lang="en">
<div th:replace="head(titulo='listado')"></div>
<body>
    
    <!-- el insert lo incrusta dentro del elemento indicado (div en este caso). El replace lo añade solo-->
    <div th:insert="~{navegacion(url1='/memes',url2='/memes/addForm')}"></div>
    <!-- <div th:replace="navegacionMemes"></div> -->
    
    <h1>Lista de todos los memes</h1>
    <section class="container">
    <ul>
        <li th:each="meme: ${misMemes}">
            <img th:src="${meme.url}" alt="meme"/>
            <p th:text="${meme.description}"></p>
            <button th:onclick="deleteMeme( [[${meme.id}]] )">❌</button>
            <!-- hay muchas otras formas  -->
        </li>
    </ul>
    </section>
</body>
</html>


 

<script>
    async function deleteMeme(id){
       /*console.log("quieres borrar el meme con id=",id)*/
        await fetch('/memes/'+id,{method:'DELETE'})
        console.log("Meme borrado correctamente")
        window.location.replace('/memes')
    }
</script>   

